*.pyc
*__pycache__/
datasets/check/
datasets/checkmate/
datasets/nothing/
datasets/stalemate/
datasets/originals/
datasets/custom/1_line.txt
datasets/custom/subfiles/
datasets/custom/random/
networks/
*_big.txt
notes.txt
Subject/